<ion-header [translucent]="true">
  <ion-toolbar color="azultres">
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button routerLink="/artigo/pag3">
        <ion-icon slot="icon-only" name="arrow-undo" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="options">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div>
              <img src="assets/img/amelia.jpg">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
              <h3 class="ion-text-center">Amelia Earhart foi a primeira mulher a voar sozinha sobre o Atlântico.</h3>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div>
              <img src="assets/img/telavi.jpg">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h3 class="ion-text-center">Tel Aviv é uma das cidades onde as universidades proporcionam o curso nas áreas citadas no artigo.</h3>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>
  <div class="nome ion-margin-bottom">
    <div class="ion-text-center">
      <h2>Bolsas de Doutorado Amelia Earhart</h2>
    </div>
  </div>

  <div class="container">

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          As mulheres representam somente cerca de 25% da força de trabalho na indústria aeroespacial. Contudo, o Amelia 
          Earhart Fellowship, oferecida pela Fundação Internacional, é um programa de bolsas de doutorado para mulheres 
          na engenharia afim de mudar esse cenário aumentando o acesso das mulheres aos recursos necessários para trabalhar 
          nesse mercado. As mulheres que conseguiram a bolsa se tornaram astrônomas, astronautas, engenheiras 
          espaciais, headers em empresas, professoras, geólogas, empreendedoras e secretárias da Força Aérea dos EUA.
          <br> 
          <br>
          As bolsistas selecionadas recebem 10 mil dólares (algo entorno dos 56 mil reais) e não precisam estudar em um local 
          determinado. Em outras palavras, o valor pode ser utilizado para estudar em qualquer universidade do mundo desde que 
          ofereça cursos de alguma forma relacionados ao campo da engenharia aeroespacial.
          <br>
          <br>
          
           <img src="assets/img/mulheres.gif">
           <br>
           <h5>Requisitos para se candidatar</h5>

           <br>
           O Amelia Earhart Fellowships é voltado a mulheres na engenharia de qualquer nacionalidade que estejam fazendo 
           ou buscando um doutorado em uma área afim. As candidatas devem ter um histórico acadêmico de excelência 
           em engenharia aeroespacial ou em alguma das ciências aplicadas a esse campo.
           <br>
           <br>
           Também é necessário estar iscrita em um doutorado/PhD em tempo integral e ter completado pelo menos um ano 
           do curso. Da mesma forma, podem se candidatar também mulheres na engenharia que acabaram o mestrado no 
           campo das ciências aeroespaciais aplicadas no momento da candidatura.
           <br>
           <br>
           No entanto, as candidatas não podem ter previsão de conclusão do doutorado ou PhD antes de abril de 2022. 
           Do mesmo modo, pesquisas de pós-doutorado não são elegíveis para a bolsa. Porém, uma das vantagens do 
           programa é que as bolsistas podem aceitar benefícios ou auxílios de outras instituições para complementar 
           a renda.
           <br>
           <br>

           <h5>Requisitos para se candidatar</h5>
           
           <br>
           <br>
           Quem se interessar deve preencher a candidatura através do formulário online disponível no site. Porém, para 
           isso é necessário cumprir alguns requisitos:
           <br>
           <br>
           <li>Informações pessoais;</li>
           <li>Experiência profissional;</li>
           <li>Planos para o estudo pretendido;</li>
           <li>Histórico acadêmico;</li>
           <li>Lista de publicações (se houver);</li>
           <li>Lista de bolsas ou prêmios recebidos (se houver);</li>
           <li>Lista de universidade, faculdades ou instituições atendidas;</li>
           <li>Ensaio sobre o objetivos acadêmicos e profissionais (a candidata deve descrever o projeto de pesquisa e as suas 
             metas profissionais em até 500 palavras. É fundamental esclarecer como o se projeto está relacionado às ciências espaciais);</li>
           <li>Três cartas de recomendação de professores universitários e do orientador da tese (pelo menos um deve descrever a qualidade 
             do projeto de pesquisa e a aplicação direta à engenharia espacial).</li>
          <br>
          <br>
          <br>
          <h5>A Seleção</h5>
          <br>
          O Comitê de Bolsas de Estudo da Fundação 7 é o responsável por analisar as solicitações em um primeiro momento. Posteriormente, as pré-selecionadas são recomendadas para o Conselho International de Zonta. Todas as candidatas são avaliadas com base nos requiusitos sitados acima.
          <br>
          <br>
          A bolsa para mulheres na engenharia deve ser utilizada para pagamento de taxas universitárias, materiais de estudo e/ou despesas de estadia (acomodação, viagem e etc). 
          <br>
          <br>
         </ion-row>
      </ion-grid>
    </ion-item>

  </div>

</ion-content>