<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        7. Qual é o país popularmente conhecido por considerar vacas como animais sagrados?
      </ion-card-title>
      <img src="assets/perguntas/pergunta7.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Noruega</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Filipinas</ion-button>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Índia</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Arábia Saudita</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
