<ion-content>

  <div class="header">
    <h2>Perfil</h2>
  </div>

  <div class="flex">
    <div class="border-purple">
      <div class="border-white">
        <div class="img-box">
          <img src="assets/perfil2.png">
        </div>
      </div>
    </div>
  </div>

  <ion-card>
    <div class="laranja">
    <ion-card-content>
      <ion-card-title class="ion-text-center">
      </ion-card-title>
      <ion-list lines="none">
        <ion-item  routerLink="/calendario">
          <ion-icon name="calendar" color="rosado"></ion-icon>&nbsp;&nbsp;
          <p>Calendário</p>
        </ion-item>

        <ion-item  routerLink="/home">
          <ion-icon class="active" name="home" color="rosado"></ion-icon>&nbsp;
          <p>Voltar para Home</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </div>
  </ion-card>

</ion-content>