<ion-header>
  <ion-toolbar color="azulescuro">
  <ion-buttons slot="end">
    <ion-button routerLink="/artigo/pag2">
      <ion-icon slot="icon-only" name="arrow-redo" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-button routerLink="/home">
      <ion-icon slot="icon-only" name="home" color="light" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
  <div class="titles ion-text-center">
    <h4>Intercâmbio <ion-icon name="airplane-outline"></ion-icon></h4>
    <h6>Afinal, o que é Intercâmbio?
    </h6>
  </div>
 
    <ion-card class="ion-padding" color="azul">
      <ion-card-content >
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            Intercâmbio é um período de troca cultural e experiência em outro país, sendo a maneira mais rápida e eficiente para 
            melhorar o seu nível de inglês ou de outro idioma.  Ao estudar, viver e trabalhar no exterior, você vai ampliar seu 
            conhecimento e obter muito mais oportunidades.
              <br>
              <br>
              Por muito tempo, a ideia de realizar um programa de intercâmbio estava associada à troca de países entre estudantes. 
              Por exemplo: um estudante brasileiro trocava de universidade e residência com um estudante britânico para, assim, 
              ambos ganharem novas experiências e aprendizados.
              <br>
              <br>
              Hoje em dia, o termo "intercâmbio" está mais abrangente e significa ter uma experiência fora do Brasil – seja 
              estudando outro idioma ou fazendo algum curso específico enquanto vive uma imersão cultural em outro país – sem 
              precisar, necessariamente, “trocar” de lugar com qualquer outra pessoa estrangeira
          </ion-col>
         
        </ion-row>
      </ion-card-content>
    </ion-card>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="8">
        <h4>Tipos De Intercâmbios</h4>
      </ion-col>
     
    </ion-row>

    <ion-card class="ion-padding" color="azul">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Intercâmbio com cursos de idiomas no exterior</ion-card-title>
            É um dos tipos mais procurados. Quem procura esse tipo de intercâmbio está focado em aprender uma nova língua 
            ou melhorar sua fluência no idioma. São cursos com duração mínima de 2 semanas, com salas de aulas compostas por 
            estudantes de diversas nacionalidades e faixa etária, mas com o mesmo nível de habilidade do idioma. Hoje, os 
            idiomas e os países mais procurados são: Suíça (alemão e francês), Reino Unido (inglês), Nova Zelândia (inglês), 
            Malta (inglês), Canadá (inglês), América Latina (espanhol), Austrália (inglês), Itália (italiano).
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Intercâmbio para estudar e trabalhar</ion-card-title>
            Esse é o tipo de intercâmbio para os estudantes que vão ficar no mínimo três meses no país. O estudante que quer 
            trabalhar legalmente no exterior tem uma oportunidade excelente de compreender mais a cultura do país, conhecer 
            pessoas, colocar em prática o idioma e também ter uma ajuda de custo durante o período de viagem.
            <br>
            <br>
            Quem optar por fazer o programa de estudos com trabalho deve respeitar algumas regras estabelecidas pelos países. 
            Você pode escolher alguns destinos como:
            <li>
              Irlanda, Austrália e Nova Zelândia, podendo trabalhar até 20 horas semanais.
            </li>
            <li>
              Em Dubai não há limite máximo de horas, porém, o trabalho não pode atrapalhar os estudos.
            </li>
            <li>
              No Canadá, o estudante que cursar um programa de ensino superior tem a permissão de trabalho de 20 horas semanais.
            </li>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Intercâmbio com foco para carreira profissional</ion-card-title>
            São cursos de graduação, pós-graduação e MBA, com certificados profissionais e diploma técnico-vocacional. Além 
            disso, tem os cursos técnicos para os estudantes que já tem um bom nível no idioma e querem melhorar os seus 
            conhecimentos em uma área específica. É indicado para quem deseja cursar o ensino superior no exterior e melhorar 
            tanto o currículo acadêmico como o profissional.
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Intercâmbio de férias para adolescentes</ion-card-title>
            É direcionado para crianças e adolescentes entre 10 e 17 anos. Normalmente acontece no mês de dezembro/janeiro e 
            junho/julho, o período de férias escolares aqui do Brasil, para que os estudantes possam conciliar o programa com as 
            suas aulas regulares.
            <br>
            <br>
            Os programas teen duração de 2 a 6 semanas e uma programação pré-definida, combinando o aprendizado de um idioma 
            com atividades socioculturais e lazer.
            <br>
            <br>
            É uma excelente maneira de avaliar o comportamento do jovem durante um período de estudos no exterior e ver se ele 
            está preparado para ficar um período maior fora do Brasil, como um High School.
            <br>
            <br>
            O High School é um programa de estudos que permite ao aluno cursar uma parte ou todo o ensino médio no exterior, 
            aprendendo a cultura do país escolhido por meio do convívio na escola, na comunidade, na família ou na residência 
            estudantil. É também uma oportunidade para o aluno entrar em contato com possibilidades curriculares diferentes das 
            disponíveis no Brasil, abrindo horizontes que poderão ajudá-lo na progressão para a universidade e na sua escolha 
            profissional. 
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Intercâmbio para terceira idade</ion-card-title>
            É um programa personalizado para pessoas acimas de 50 anos e com duração de duas semanas. Quem opta por realizar esse 
            tipo de intercâmbio tem a possibilidade de combinar um idioma com atividades culturais e de entretenimento, além de 
            conhecer lugares turísticos, fazer novas amizades com pessoas da mesma faixa etária ou diferente e de diversas partes 
            do mundo.
          </ion-col>
        </ion-row>
      </ion-card-content>
      
    </ion-card>

  </div>
</div>
</ion-content>
