
<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        3. Você sabe em qual país a Pizza se popularizou primeiro?
      </ion-card-title>
      <img src="assets/perguntas/pergunta3.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaErrada()">México</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Estados Unidos</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Espanha</ion-button>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Itália</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
