<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        5. Você sabe dizer qual o nome desse monumento?
      </ion-card-title>
      <img src="assets/perguntas/pergunta5.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Duomo</ion-button>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Machu Picchu</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Acrópole</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Taj Mahal</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
