<ion-content class="degrade">

  <div class="ion-text-center logo">
      <img src="assets/colorido.png">
    </div>
  
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title style=" text-align: center;">Login</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-list>        
            <ion-item color="light">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input [(ngModel)]="email" placeholder="Digite seu e-mail" type="text"></ion-input>
            </ion-item>
      
            <ion-item color="light">
              <ion-label position="floating">Senha</ion-label>
              <ion-input [(ngModel)]="senha" placeholder="Digite uma senha" type="password"></ion-input>
            </ion-item>   
        </ion-list>
      </ion-card-content>
  
      <ion-item  button class="ion-button-light ion-text-center" color="azul">
        <ion-label color="light" (click)="login()">
          FAZER LOGIN
        </ion-label>
      </ion-item>
      <ion-button expand="full" fill="clear" color="azul" (click)="cadastrar()">
        CRIAR UMA CONTA
      </ion-button>

      <div style="padding: 20px; text-align: center;">
          <a (click)="esqueceuSenha()">Esqueceu a senha?</a>
      </div>
    </ion-card>

    
  
</ion-content>
