<ion-header [translucent]="true">
  <ion-toolbar color="rosapink">
    <ion-buttons slot="end">
      <ion-button routerLink="/artigo/pag3">
        <ion-icon slot="icon-only" name="arrow-redo" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button routerLink="/artigo/pag1">
        <ion-icon slot="icon-only" name="arrow-undo" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
  <div class="titles ion-text-center">
    <h2>Quer entender mais sobre o assunto? <ion-icon name="earth-outline"></ion-icon></h2>
    <h6>Nesse artigo explicaremos como funcionam os intercâmbios e como montar um que mais te agrade conta própria. </h6>
    
  </div>
 
  <div class="ion-padding-horizontal">

    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Qual o objetivo do seu intercâmbio?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="rose">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            É preciso que você defina o que quer fazer na sua viagem e escolher um tipo de intercâmbio para o seu perfil.
              Por exemplo, você é um estudante recém-formado em Direito e tem vontade de aprofundar os seus conhecimentos 
              de inglês e desenvolver um vocabulário específico na sua área de atuação.
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
    

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Como Planejar um intercâmbio?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="rose">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            É necessário que você defina quanto tempo quer ficar no exterior, qual o país de 
            destino e o tipo de acomodação.
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title ion-icon name="compass-outline">Tipos de Acomodação</ion-card-title>
            <li><ion-text style="height:bold;"> Residência estudantil (Student Housing): </ion-text> 
              é um tipo de acomodação que as escolas proporcionam para os estudantes. São casas ou apartamentos no qual o estudante também divide os espaços com outros 
            estudantes de diversos lugares do mundo. É uma ótima oportunidade para se relacionar e conhecer 
            diversas pessoas e culturas. 
            </li>
            <br>
            <li><ion-text style='font-weight:bold;'> Casa de família – (Homestay): </ion-text>
              é um tipo de acomodação que a pessoa fica hospeda na casa de alguma família. Caso seja um estudante, a escola na qual ele irá estudar possui um 
            cadastro com famílias inscritas nos programas de intercâmbio e encaminham o perfil do estudante para 
            a casa de família que mais tem haver com ele. As famílias têm um pré-cadastro inscrito nos programas 
            de intercâmbio para receber esse tipo viajante. Ficar hospedado em uma casa de família também pode 
            potencializar a sua experiência cultural no país e enriquecer a prática do idioma.
            </li>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Passaporte</ion-card-title>
            O passaporte é um tipo de documento de identificação pessoal emitido pela Polícia Federal para 
            qualquer tipo de pessoa que vá para o exterior, seja a turismo, estudo ou trabalho. O passaporte é 
            uma proteção e garantia para as autoridades do país, demostrando que você é um viajante dentro da 
            legalidade.
            <br>
            <br>
            O Brasil faz parte do MERCOSUL (Mercado Comum do Sul) então, os brasileiros que forem viajar para a: 
            Argentina, Bolívia, Chile, Colômbia, Equador, Paraguai, Peru, Uruguai e Venezuela não precisam 
            necessariamente apresentar o passaporte, mas sim um documento oficial com foto, como o RG.
          </ion-col>
        </ion-row>

        <div class="container">
          <div class="elemento">
            <img  src="assets/img/passagem.gif">
          </div>
        </div>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Visto</ion-card-title>
            O Visto é uma permissão de entrada no país, que é carimbado ou estampado no seu passaporte brasileiro. 
            Cada país adota critérios e exigências diferentes para a solicitação dessa permissão, levando em conta 
            o tipo de Visto a ser requerido e o relacionamento ou acordo que tem com o Brasil. A regra de emissão 
            do Visto é, por diversas vezes, decisiva na escolha do país. Antes de tudo, é preciso verificar se o 
            viajante tem o perfil e se atende aos requisitos exigidos na solicitação de Visto do país escolhido.
            <br>
            <br>
            Alguns países exigem que o viajante brasileiro solicite o visto no Brasil antes do embarque, por meio 
            do Consulado ou Embaixada do país, mas também há destinos que permitem que o brasileiro solicite o 
            visto na entrada do país, na imigração local no aeroporto.
            <br>
            <br>
            Além disso, alguns países também oferecem benefícios vinculados ao visto obtido como permissão para 
            trabalhar legalmente, férias durante os estudos e até a possibilidade de renovação da permanência 
            dentro do país.
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Seguro Viagem</ion-card-title>
            O Seguro Viagem é a sua segurança durante o seu período no exterior, pois ele cobre imprevistos leves 
            ou mais graves como doenças, despesas com remédios e emergências odontológicas. Perda e extravio de 
            bagagem também está incluso. 
            <br> 
            <br>
            O Seguro Viagem varia de acordo com o destino e tempo da viagem, podendo
             ser de cinco dias até doze meses e dependendo do país, é necessária a apresentação do comprovante do 
             seguro na imigração, na solicitação do Visto ou no primeiro dia de aula. O Seguro Viagem Internacional, 
             geralmente, só pode ser comprado antes do embarque no brasil. É imprescindível que você adquira o seu 
             Seguro Viagem a partir da data de embarque até a data de retorno ao Brasil. 
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card-title>Moeda Estrangeira</ion-card-title>
            Existem muitas formas seguras e econômicas de levar e também receber dinheiro no exterior, incluso também casos de emergência.
            <br> 
            <br>
            <ion-text style="font-weight: bold;"> Lembrando que para cada tipo de viagem é necessária uma quantia. </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
      
    </ion-card>

  </div>
</div>
</ion-content>
