<ion-header [translucent]="true">
  <ion-toolbar color="roxoescuro">
    <ion-buttons slot="end">
      <ion-button routerLink="/artigo/pag4">
        <ion-icon slot="icon-only" name="arrow-redo" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button routerLink="/artigo/pag2">
        <ion-icon slot="icon-only" name="arrow-undo" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
  <div class="titles ion-text-center">
    <h4 style="font-weight: bold;">Ainda com Dúvidas? <ion-icon name="compass-outline"></ion-icon></h4>
    <h6>Aqui você encontrará algumas perguntas e dicas que irão te ajudar e dar a coragem que faltava para conhecer um novo país.</h6>
  </div>
 
  <div class="ion-padding-horizontal">

    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Trabalhar durante intercâmbio</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            Para quem deseja ficar mais de três meses fazendo intercâmbio, uma opção é trabalhar legalmente no 
            exterior. Você tem a oportunidade de praticar mais o idioma, conhecer novas pessoas e ter uma rotina 
            mais diversificada. 
            <br>
            <br>
            Além disso, o estudante tem uma ajuda de custo, o que faz o intercâmbio ter um 
            custo mais baixo em longo prazo. Um ponto importante é a fluência no idioma, quanto melhor o nível do 
            idioma, a tendência é que você consiga arrumar um trabalha mais facilmente.
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
    

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Como Funciona um intercâmbio voluntário?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            O intercâmbio de trabalho voluntário ficou popular nos últimos anos por ser uma alternativa econômica 
            para jovens e adultos que desejam ter uma experiência internacional.  
            <br>
            <br>
            Então, de acordo com as Nações Unidas, “o voluntário é o jovem ou o adulto que, devido a seu interesse pessoal e o espírito cívico, dedica parte do seu tempo, mas sem remuneração alguma, a diversas formas de atividades, organizadas ou não, de bem-estar social, ou outros campos…” Porém, trabalho voluntário também é mais do que isso. É doar tempo, generosidade e colaboração e receber em troca o afeto da comunidade local. 
            <br>
            <br>
            Essa modalidade de intercâmbio é em média mais barata. Assim, além de possibilitar que intercambista interaja com a comunidade local auxiliando em projetos sociais como voluntário, o intercâmbio voluntário apresenta a realidade que não pode ser conhecida apenas através do turismo. 
            <br>
            <br>
            Assim, diversas ONGs e agências de intercâmbio oferecem a possibilidade do intercâmbio de trabalho voluntário. Portanto, com ele, é possível viajar para países da América Latina, África e Ásia gastando pouco com os custos em moradia, transporte e alimentação. 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container">
    <div class="elemento">
      <img  src="assets/img/voluntario.png">
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Dá para conciliar o projeto voluntário com um curso do idioma local?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            Em alguns casos, mas principalmente na África do Sul, você pode fazer algumas semanas de curso de inglês e na sequência partir para um programa voluntário. Assim, alguns projetos em Cape Town também permitem que você estude pela manhã e seja um voluntário à tarde. 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">É preciso pagar para participar de um programa voluntário internacional?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            O programa voluntário é um tipo de intercâmbio cultural, porém mais barato que o tradicional já que as taxas costumam ser menores. 
            <br>
            <br>
            Ele é pago, pois há custos com moradia, alimentação, manutenção do próprio projeto e passagem aérea. Então, parte do que se paga para participar de um trabalho voluntário é doado para o projeto escolhido. 
            <br>
            <br>
            Uma forma de diminuir despesas pode ser procurar por opções no Brasil mesmo, já que quase todas as organizações de tartarugas marinhas aceitam voluntários. Assim, você pode ainda buscar oportunidades em algum país que já planeja visitar, uma vez que a maioria das instituições possuem acomodações de baixo custo para aqueles dispostos a participar por mais tempo. 
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Quais são os tipos de trabalhos disponíveis?</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            O tipo de intercâmbio de trabalho voluntário varia de acordo com o seu projeto escolhido. Então, dá para escolher entre diversos programas para cuidar de animais, ajudar na conservação de reservas e meio ambiente, auxiliar na educação de crianças e desenvolver ações humanitárias em países como África do Sul, Sri Lanka, Tailândia, Índia, entre outros.  
            <br>
            <br>
            Para realizar seu trabalho voluntário no exterior, você deve escolher seu projeto por país ou por tipo de programa. Assim, cada local tem suas peculiaridades e cabe a você decidir onde suas habilidades serão mais úteis. 
           </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Escolha bem a agencia ou ONG</h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            Pesquise muito sobre a ONG ou agência com a qual você pretende fazer o intercâmbio de trabalho voluntário. Assim, existem algumas que vendem o voluntário para empresas ou escolas como profissionais qualificados, quando na verdade não são. Assim, essas ONGs ou agências acabam lucrando em virtude da boa vontade do voluntário.  
            </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding-horizontal">
    <ion-row>
      <ion-col size="12">
        <h4 style="font-weight: bold;">Saiba que você irá ser recebido na casa de voluntários </h4>
      </ion-col>
    </ion-row>

    <ion-card class="ion-padding" color="roxo">
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            Assim, caso você opte por fazer o intercâmbio de trabalho voluntário por uma ONG, mas saiba que a família que vai te acolher também será voluntária. Diferente do intercâmbio tradicional onde a família recebe por cada estudante que recebe, no trabalho voluntário ela acolhe o jovem ou adulto por que quer, sem receber nada por isso.   
            <br>
            <br>
            Então, de acordo com as Nações Unidas, “o voluntário é o jovem ou o adulto que, devido a seu interesse pessoal e o espírito cívico, dedica parte do seu tempo, mas sem remuneração alguma, a diversas formas de atividades, organizadas ou não, de bem-estar social, ou outros campos…” Porém, trabalho voluntário também é mais do que isso. É doar tempo, generosidade e colaboração e receber em troca o afeto da comunidade local. 
            <br>
            <br>
            Porém, vale ressaltar que poderão surgir conflitos culturais entre você e a família, sendo importante o respeito mútuo e conversa entre ambos os lados sobre os pontos de discórdia. 
            <br>
            <br> 
            Portanto, há muitas razões para se envolver nesse tipo de voluntariado, e literalmente milhares de instituições que oferecem oportunidades por todo o mundo. Fato é que participar de um intercâmbio de trabalho voluntário é uma oportunidade única de aprender muito sobre a vida, valores e comunidade. 
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</div>
</ion-content>
