<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        9. Em qual cidade brasileira fica o Cristo Redentor?
      </ion-card-title>
      <img src="assets/perguntas/pergunta9.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Rio de Janeiro</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Brasília</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Londrina</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Curitiba</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
