
<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        1. Qual é o esporte mais popular na Alemanha?
      </ion-card-title>
      <img src="assets/perguntas/pergunta1.png">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Esporte de Neve</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Tênis</ion-button>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Futebol</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Natação</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
