<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        10. Qual é o país cuja gastronomia é representada pelos Fast-Foods?
      </ion-card-title>
      <img src="assets/perguntas/pergunta10.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Alemanha</ion-button>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Estados Unidos</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">França</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Brasil</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
