<ion-content color="azul">
  <br /><br />
  <div class="fundo-branco">
    <ion-card>
      <ion-card-title>
        4. Você sabe qual é o pais que possui o maior número de lagos de água doce do mundo?
      </ion-card-title>
      <img src="assets/perguntas/pergunta4.jpg">
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="respostaCerta()">Canadá</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Japão</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">África do Sul</ion-button>
        <ion-button color="light" expand="block" (click)="respostaErrada()">Austrália</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
